
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 18px;
    background: beige;
    width: 960px;
}
.header {
    background-color: lightgrey;
    text-align: center;
    color: teal;
    padding: 10px;
}
.nav {
    background-color: lightcyan;
    padding: 10px;
    float: left;
    display: block;
    text-align: center;
    width: 940px;
}
.aside {
    background-color:peachpuff;
    padding: 10px;
    text-align: center;
    color: white;
    margin: 10px;
    width: 97%;

}
.leftblock {
    background-color: lightsteelblue;
    float: left;
    width: 50%;
}
.section {
    background-color: azure;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.article {
    background-color: teal;
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.row ::after {
    clear: both;
    display: block;
}

.footer {
    background-color: cornflowerblue;
    margin-top: 83px;
    color: white;
    padding: 10px;
    text-align: center;
    width: 940px;
    float: inline-end
}

